data/xmlSchemas/process.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
    <xs:complexType name="Process">
        <xs:sequence>
            <xs:element name="ProcessHistory" type="ProcessHistory"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ProcessHistory">
        <xs:annotation>
            <xs:documentation>All stages of manufacturing processes of a part</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="processStep" type="ProcessStep"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ProcessStep">
        <xs:annotation>
            <xs:documentation>Event performed as part of a sequence.  May include pre-processing, build, post-processing, and (destructive or non-destructuve) test, inspection, and/or characterization operations</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="sequenceNumber" type="xs:int">
                <xs:annotation>
                    <xs:documentation>Sequence identifier of processing steps in chronological order</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="processID" type="xs:string">
                <xs:annotation>
                    <xs:documentation>Unique identifier for a processStep</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="processStartTime" type="xs:dateTime">
                <xs:annotation>
                    <xs:documentation>Time when process step starts</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="processEndTime" type="xs:dateTime">
                <xs:annotation>
                    <xs:documentation>Time when process step ends</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="agentOrganization" type="Organization"/>
            <xs:element name="agentPersonnel" type="Person"/>
            <xs:element name="processMachine" type="System"/>
            <xs:element name="processData" type="ProcessData"/>
            <xs:element name="processParameters" type="ProcessParameters"/>
            <xs:element name="processStandard" type="Document">
                <xs:annotation>
                    <xs:documentation>Standards used to guide a process, e.g., AMS2774</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="processControlPlan" type="Document">
                <xs:annotation>
                    <xs:documentation>Document that describes the methods taken to ensure the quality control of critical inputs to deliver outputs that meet requirements</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="PreProcess" type="PreProcessType">
                <xs:annotation>
                    <xs:documentation>Pre-processing steps</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="PostProcess" type="PostProcessType">
                <xs:annotation>
                    <xs:documentation>Note: The scope of post-processes is broad, which could include assembly as necessary for a part test/certification</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PostProcessType">
        <xs:sequence>
            <xs:element name="postProcessType">
                <xs:annotation>
                    <xs:documentation>Type of a post process, e.g., heat treatment, HIP, etc.</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="heat treatment"/>
                        <xs:enumeration value="HIP"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="HotIsostaticPressing" type="hotIsostaticPressingProcessParameters">
                <xs:annotation>
                    <xs:documentation>Hot isostatic processing, which applies heat and pressure simultaneously to objects in an autoclave via an inert gas in such a way as to eliminate internal voids and obtain desired properties</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="HeatTreatment" type="HeatTreatment"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PreProcessType">
        <xs:sequence>
            <xs:element name="MaterialPreparation" type="xs:string">
                <xs:annotation>
                    <xs:documentation>Sifting/blending material preparation</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="MachinePreparation" type="xs:string">
                <xs:annotation>
                    <xs:documentation>Operations to prepare an AM machine before a build starts, e.g., cleaning, pre-warming</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="BuildPlatformPreparation" type="xs:string">
                <xs:annotation>
                    <xs:documentation>Description of how the build platform was prepared before the AM process (ex. new or recycled)</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="hotIsostaticPressingProcessParameters">
        <xs:annotation>
            <xs:documentation>Nominal process parameters used during hot isostatic pressing</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="inertGas" type="Material">
                <xs:annotation>
                    <xs:documentation>A non-oxidizing gas used for pressurizing a HIP vessel</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="vesselPressure" type="Measurement">
                <xs:annotation>
                    <xs:documentation>Pressure measurement of the autoclave during the HIP Process</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="vesselTemperature" type="Measurement">
                <xs:annotation>
                    <xs:documentation>Temperature recorded of the autoclave during the HIP process</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="HeatTreatment">
        <xs:annotation>
            <xs:documentation>Heat treatment processNominal process parameters used during heat treatment</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="controlInstrumentType" type="xs:string">
                <xs:annotation>
                    <xs:documentation>Type of primary or secondary control instrumentation type of the thermal processing equipment</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="furnaceTemperature" type="Measurement">
                <xs:annotation>
                    <xs:documentation>Temperature recorded from each control zone in the furnace during a heat treatment process</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="inertGasRampUpRate" type="Measurement">
                <xs:annotation>
                    <xs:documentation>Ramp up rate of the inert gas during a heat treatment process</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="inertGasRampDownRate" type="Measurement">
                <xs:annotation>
                    <xs:documentation>Ramp down rate of the inert gas during a heat treatment process</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Material"/>
    <xs:complexType name="ProcessParameters">
        <xs:annotation>
            <xs:documentation>Process parameters used for build</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="processParameterID " type="xs:string">
                <xs:annotation>
                    <xs:documentation>Unique identifier for process parameters</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ProcessData">
        <xs:annotation>
            <xs:documentation>The direct/derived output that is obtained from the AM system and in-situ monitoring system during a process. Note: the sensing data should be synchronized with the machine data and build progress (enabling temporal/spatial alignment)</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="processMonitoringDataType">
                <xs:annotation>
                    <xs:documentation>Type of the process monitoring data: Single Value; 1D Time Series; 2D Image; Video</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="Single Value"/>
                        <xs:enumeration value="1D Time Series"/>
                        <xs:enumeration value="2D Image; Video"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="samplingRate" type="Measurement">
                <xs:annotation>
                    <xs:documentation>Sampling frequency of the process monitoring</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="logFile" type="Document">
                <xs:annotation>
                    <xs:documentation>Data generated from the AM System, including log data</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="processDataMetadata" type="DatasetMetadata"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PhoneNumber">
        <xs:sequence>
            <xs:element name="phoneCountry" type="Country"/>
            <xs:element name="phoneNumber" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Address">
        <xs:sequence>
            <xs:element name="addressLine1" type="xs:string"/>
            <xs:element name="addressLine2" type="xs:string"/>
            <xs:element name="city" type="xs:string"/>
            <xs:element name="stateProvince" type="xs:string"/>
            <xs:element name="postalCode" type="xs:string"/>
            <xs:element name="country" type="Country"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="organizationType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="eMaterialManufacturer"/>
            <xs:enumeration value="MaterialSupplier"/>
            <xs:enumeration value="PartDesigner"/>
            <xs:enumeration value="PartManufacturer"/>
            <xs:enumeration value="MachineManufacturer"/>
            <xs:enumeration value="SystemIntegrator"/>
            <xs:enumeration value="PartTestr"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="Qualification">
        <xs:annotation>
            <xs:documentation/>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="qualificationType">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="OrganizationQualification"/>
                        <xs:enumeration value="PersonQualification"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="qualificationLevel" type="xs:string"/>
            <xs:element name="qualifyingOrganization" type="Organization"/>
            <xs:element name="personQualificationNumberOfHours" type="xs:int">
                <xs:annotation>
                    <xs:documentation>The number of hours that this person has completed on this equipment/software/system</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Organization">
        <xs:annotation>
            <xs:documentation>An organization of various types</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="organizationID" type="xs:string">
                <xs:annotation>
                    <xs:documentation>The unique identifier of the organization</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="organizationName" type="xs:string">
                <xs:annotation>
                    <xs:documentation>The name of an organization</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="organizationType" type="organizationType">
                <xs:annotation>
                    <xs:documentation>The type or roles of an organization, whether it is a manufacturer, vendor, supplier, or contractor.  One organization may have many types</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="organizationQualification" type="Qualification">
                <xs:annotation>
                    <xs:documentation>Details of the organization's qualifications and certifications</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="organizationAddress" type="Address">
                <xs:annotation>
                    <xs:documentation>The address of the organization</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="organizationPhoneNumber" type="PhoneNumber">
                <xs:annotation>
                    <xs:documentation>A phone number for the organization</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="organizationPointOfContact" type="Person">
                <xs:annotation>
                    <xs:documentation>Identification of the point of contact</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Person">
        <xs:annotation>
            <xs:documentation>Individuals and their primary credentials and contact information</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="personID" type="xs:string">
                <xs:annotation>
                    <xs:documentation>Unique identifier of the person</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="personFirstName" type="xs:string">
                <xs:annotation>
                    <xs:documentation>First name of individual performing task</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="personLastName" type="xs:string">
                <xs:annotation>
                    <xs:documentation>Last name of individual performing task</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="personRole" type="xs:string">
                <xs:annotation>
                    <xs:documentation>Role of individual performing task</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="personEmail" type="xs:string">
                <xs:annotation>
                    <xs:documentation>The email for the individual</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="personPhoneNumber" type="PhoneNumber">
                <xs:annotation>
                    <xs:documentation>The phone number for the individual</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="personQualification" type="Qualification">
                <xs:annotation>
                    <xs:documentation>Qualifications of person</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="personOrganization" type="Organization">
                <xs:annotation>
                    <xs:documentation>Links person to an organization</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Country">
        <xs:sequence>
            <xs:element name="countryName" type="xs:string"/>
            <xs:element name="countryAlpha2Code" type="xs:string"/>
            <xs:element name="countryAlpha3Code" type="xs:string"/>
            <xs:element name="countryCallingCode" type="xs:int"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="System"/>
    <xs:complexType name="Document">
        <xs:annotation>
            <xs:documentation>File of any type</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="documentName" type="xs:string"/>
            <xs:element name="documentLocation" type="xs:string"/>
            <xs:element name="documentClassificationLevel" type="xs:string"/>
            <xs:element name="documentClassificationIPClass" type="xs:string"/>
            <xs:element name="documentURI" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="RawDataValue">
        <xs:sequence>
            <xs:element name="rawDataTime" type="xs:dateTime"/>
            <xs:element name="rawDataValue" type="Measurement"/>
            <xs:element name="rawDataQuality" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Measurement">
        <xs:sequence>
            <xs:element name="measurementValue" type="xs:double"/>
            <xs:element name="measurementUnit" type="xs:string"/>
            <xs:element maxOccurs="unbounded" name="rawDataValues" type="RawDataValue"/>
            <xs:element name="rawDataAggregationTechnique" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="DatasetMetadata">
        <xs:sequence>
            <xs:element name="datasetName" type="xs:string">
                <xs:annotation>
                    <xs:documentation>Name of the dataset</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="datasetID" type="xs:string">
                <xs:annotation>
                    <xs:documentation>Unique identifier of the dataset</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="datasetSubject" type="xs:string">
                <xs:annotation>
                    <xs:documentation>Classification, keyword, or phrase that describes the topic of the dataset at the endpoint of the URI. This is a refinement of the Dublin Core definition that states this is the topic of the resource and the plurality of keywords, etc. It should be noted that the recommended best practice is to use a controlled vocabulary (per Dublin Core)</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="datasetType" type="xs:string">
                <xs:annotation>
                    <xs:documentation>Media type, formerly known as MIME Type, a two-part identifier for file formats and format contents transmitted on the Internet. The Internet Assigned Numbers Authority (IANA) is the official authority for the standardization and publication of these classifications</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="datasetURI" type="xs:string">
                <xs:annotation>
                    <xs:documentation>URI location where a dataset can be found</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="datesetFormat" type="xs:string">
                <xs:annotation>
                    <xs:documentation>Formal description language that describes the format or layout of the file, such as CSV with Headers, Protobuf, fixed position, JSON Schema, XML, Cobol Copybook, X12 and so forth</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="datasetSchemaURI" type="xs:string">
                <xs:annotation>
                    <xs:documentation>Location via a URI pointer to the specific Content Format Specification that describes how to parse the content in a repository; i.e., defines the schema of the content in the repository</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="datasetCreator" type="xs:string">
                <xs:annotation>
                    <xs:documentation>Creator of dataset and/or the metadata of the dataset</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="datasetCreationDateTime" type="xs:dateTime">
                <xs:annotation>
                    <xs:documentation>Point of time associated with creation of the dataset. May be used at any level of granularity. Recommended best practice is to use an encoding scheme, such as the W3CDTF profile of ISO 8601 [W3CDTF]</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="datasetSize" type="xs:string">
                <xs:annotation>
                    <xs:documentation>The size of the dataset</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="datesetType" type="xs:string">
                <xs:annotation>
                    <xs:documentation>Dataset type, raw data or synthesized data</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="datasetQuantityType" type="xs:string">
                <xs:annotation>
                    <xs:documentation>Type of Measurement(s) that would appear in a dataset; e.g., pH, Moisture, Temperature, requiring an industry group to define the enumerated list/controlled vocabulary for the specific business context</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="datasetKeyTags" type="xs:string">
                <xs:annotation>
                    <xs:documentation>Keywords and tags describing the data to facilitate search and findability.  Examples include 'meltpool temperature', 'meltpool size', and 'layer-wise image</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="datasetAccessControl">
                <xs:annotation>
                    <xs:documentation>How to get access to the dataset. Control Code Type is used to communicate 'Restricted', 'Consent', and 'Public'</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="Restricted"/>
                        <xs:enumeration value="Public"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="MaterialStock">
        <xs:annotation>
            <xs:documentation>Information about a stock of material, including physical form, location, and purchasing information</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="materialStockForm" type="MaterialStockForm">
                <xs:annotation>
                    <xs:documentation>Form of a material stock</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="materialStockOwner" type="Organization">
                <xs:annotation>
                    <xs:documentation>Owner/organization of a material stock</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="materialStockLocation" type="Address">
                <xs:annotation>
                    <xs:documentation>Physical location of a material stock</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="materialStockStorageEnvironment" type="Document">
                <xs:annotation>
                    <xs:documentation>Material stock storage environment details - temperature, humidity, light</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="materialPackagingRequirements" type="Document">
                <xs:annotation>
                    <xs:documentation>Packaging standard operating procedure and environmental tolerances required by a material product</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="materialStorageRequirements" type="Document">
                <xs:annotation>
                    <xs:documentation>Environmental tolerances, handling standard operating procedure required by a material product</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="materialProductSpecification" type="Document">
                <xs:annotation>
                    <xs:documentation>Material data sheet provided by a material supplier or manufacturer</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="materialPurchaseOrderNumber" type="xs:string">
                <xs:annotation>
                    <xs:documentation>Reference to the internal purchase order</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="materialSupplier" type="Organization">
                <xs:annotation>
                    <xs:documentation>Name of the material vendor. not specified if material is a blend from multiple lots</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="materialManufacturer" type="Organization">
                <xs:annotation>
                    <xs:documentation>Name of the material manufacturer. not specified if material is a blend from multiple lots</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="vendorManufacturingLot" type="xs:string">
                <xs:annotation>
                    <xs:documentation>Unique manufacturing lot number assigned by the manufacturer to the material stock</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="materialStockQuantityPurchased" type="Measurement">
                <xs:annotation>
                    <xs:documentation>Purchased quantity of a material stock</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="materialStockCertificate" type="Document">
                <xs:annotation>
                    <xs:documentation>Link to a material stock certificate</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="materialStockCertificationDate" type="xs:dateTime">
                <xs:annotation>
                    <xs:documentation>Purchase/certification date of a material stock</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="MaterialStockForm">
        <xs:annotation>
            <xs:documentation>Form of a material stock</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="Powder"/>
            <xs:enumeration value="Wire"/>
            <xs:enumeration value="BulkSolid"/>
        </xs:restriction>
    </xs:simpleType>
</xs:schema>
